.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlayContent {
  padding: 20px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  background-size: content;
  width: 5%;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.overlay li{
  list-style-type: none;
  font-size: x-large;
}

.light .overlay{
  color: var(--black);
}

.dark .overlay{
  color: var(--white)
}


@media (max-width: 1200px) {
  .closeButton{
    width: 5%;
  }
}

@media (max-width: 768px) {
  .closeButton{
    width: 8%;
  }
}

@media (max-width: 430px) {
  .closeButton{
    width: 12%;
  }
}