.contentContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
}

.textContainer {
  width: 60%;
  text-align: left;
  line-height: 1.4;
}

.h1_backgroundDarkmode, .h1_backgroundLightmode {
  margin-bottom: 20px;
}

.h1_backgroundDarkmode {
  color: var(--text-primary-dm);
}

.h1_backgroundLightmode {
  color: var(--text-primary-lm);
}

.mecontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 2.2%;
}

.me {
  background-image: url("../../public/Images/me.png");
  width: 80%;
  height: 80%;
  border-color: black;
  border-style: hidden;
  background-size: 60%;
  background-position: right;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  display: block;
  z-index: 10;
}

.table {
  border-collapse: separate;
  border-spacing: 30px 20px;
  position: absolute;
  bottom: 5%;
  left: 2.5%;
}

.th, .td {
  text-align: left;
  border: none;
  padding-right: 3rem;
}

.th {
  font-size: 1.4em; 
  font-weight: bold;
}

.td {
  font-size: 1.2em;
}

.thDark, .tdDark {
  color: var(--text-primary-dm);
}

.thLight, .tdLight {
  color: var(--text-primary-lm);
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .contentContainer {
    flex-direction: column;
    padding: 0 3%;
  }

  .textContainer {
    width: 80%;
    margin-bottom: 30px;
    padding-top: 15%;
  }

  .mecontainer{
    height: 50vh;
    padding-bottom: 0%;
  }

  .me {
    width: 500%;
    height: auto;
    background-size: contain;
    background-position: center;
    margin: 0rem;
  }

  .table {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 30px;
  }

  .th, .td {
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .textContainer {
    width: 90%;
    padding-top: 25%;
  }

  .me {
    width: 100%;
    height: auto;
    background-size: contain;
    background-position: center;
  }

  .table {
    border-spacing: 20px 15px;
  }

  .th {
    font-size: 1.2em;
  }

  .td {
    font-size: 1em;
  }
}

@media (max-width: 430px) {
  .mecontainer {
    width: 100%;
    height: auto;
    padding-top: 0%;
  }

  .textContainer {
    width: 100%;
    padding-top: 35%;
  }

  .me {
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-size: contain;
  }

  .table {
    border-spacing: 10px 10px;
  }

  .th, .td {
    padding-right: 1rem;
  }

  .th {
    font-size: 0.8em;
  }

  .td {
    font-size: 0.8em;
  }
}