.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.light {
  color: var(--black);
}

.dark {
  color: var(--white);
}

.contactContent {
  position: relative;
  max-width: 25rem;
  padding: 10rem;
  margin: 5rem;
  box-shadow: 0 1rem 2rem 0 transparent;
}

.light .contactContent {
  border-top: 4px solid var(--black);
  border-left: 4px solid var(--black);
  border-top-left-radius: 50%; 
}

.dark .contactContent {
  border-top: 4px solid var(--white);
  border-left: 4px solid var(--white);
  /* border-bottom: 4px solid var(--white);
  border-bottom-left-radius: 50%;*/
  border-top-left-radius: 50%; 
}

.contactInfo {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  text-align: left;
  padding-top: rem;
}

.contactIcon {
  font-size: 1.5em;
  margin-right: 15px;
}

.dark .contactIcon {
  color: var(--white);
}

.light .contactIcon {
  color: var(--black);
}

.contactText h3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.contactText p {
  margin: 2px 0;
}

.contactText a {
  color: inherit;
  text-decoration: none;
}

.contactText a:hover {
  text-decoration: underline;
}

.me {
  background-image: url("../../public/Images/me.png");
  width: 30%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 5rem;
  top: 6rem;
  bottom: 0;
  z-index: 10;
}

.mecontainer {
  display: flex;
  position: left;
  padding-top: 6.2%;
}

@media (max-width: 768px) {
  .container {
    align-items: center;
  }

  .contactContent {
    max-width: 90%;
  }

  .me {
    width: 100%;
    height: 50vh;
    background-position: center bottom;
  }
}






.curvedText {
  position: fixed;
  top: -10px;
  left: -60px;
  width: 120%;
  height: 120%;
  fill: none;
}

.curvedText path {
  fill: none;
}

.curvedText text {
  fill: var(--black);
  font-size: 24px;
  font-weight: bold;
}

.dark .curvedText text {
  fill: var(--white);
}

.light .curvedText text {
  fill: var(--black);
}