.pageContainer {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  padding-top: 3.9%;
  max-width: 1200px;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.containerLight {
  color: var(--text-primary-lm);
}

.containerDark {
  color: var(--text-primary-dm);
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
}

.headerCell {
  padding: 20px 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.headerCell:hover {
  opacity: 0.8;
}

.headerCell::after {
  content: '▼';
  margin-left: 5px;
  font-size: 0.8em;
  opacity: 0.5;
}

.headerCell.sorted-asc::after {
  content: '▲';
  opacity: 1;
}

.headerCell.sorted-desc::after {
  content: '▼';
  opacity: 1;
}

.cell {
  padding: 20px 15px;
  transition: all 0.3s ease;
}

.evenRow .cell:first-child,
.oddRow .cell:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.evenRow .cell:last-child,
.oddRow .cell:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.evenRow, .oddRow {
  transition: all 0.3s ease;
}

.evenRow:hover .cell,
.oddRow:hover .cell {
  transform: translateY(-5px);
}

/* Light Mode Styles */
.tableLight .headerCell {
  color: var(--black);
  border-bottom: 2px solid var(--black);
}

.tableLight .cell {
  background-color: var(--white);
}

.tableLight .evenRow,
.tableLight .oddRow {
  background-color: var(--white);
}

/* Dark Mode Styles */
.tableDark .headerCell {
  color: var(--white);
  border-bottom:  2px solid var(--white);
}

.tableDark .cell {
  background-color: rgba(255, 255, 255, 0.1);
}

.tableDark .evenRow,
.tableDark .oddRow {
  background-color: rgba(255, 255, 255, 0.05);
}

.tableDark .evenRow:hover .cell,
.tableDark .oddRow:hover .cell {
  background-color: rgba(255, 255, 255, 0.2);
}


.legend {
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.legendLight {
  color: var(--text-primary-lm);
}

.legendDark {
  color: var(--text-primary-dm);
}

.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.legend li {
  margin-right: 3rem;
}

.legend li:last-child {
  margin-bottom: 0;
}

.legend strong {
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .container {
    padding-top: 5rem;
    max-width: 95%;
  }

  .table {
    font-size: 15px;
    margin: 30px 0;
  }
  .legend{
    font-size: 15px;
  }

  .headerCell, .cell {
    padding: 18px 12px;
  }
}

@media (max-width: 850px) {
  .container {
    padding-top: 6%;
  }

  .table {
    font-size: 14px;
  }
  .legend{
    font-size: 14px;
  }

  .headerCell, .cell {
    padding: 15px 10px;
  }

  .evenRow:hover .cell,
  .oddRow:hover .cell {
    transform: none;
  }
  
  .table{
    margin: 40px 0;
  }
}

@media (max-width: 430px) {
  .container {
    padding-top: 14%;
  }

  .table {
    font-size: 11px;
  }

  .legend{
    font-size: 12px;
  }

  .headerCell, .cell {
    padding: 9px 5px;
  }

  .headerCell::after {
    display: none;
  }

  .evenRow .cell:first-child,
  .oddRow .cell:first-child,
  .evenRow .cell:last-child,
  .oddRow .cell:last-child {
    border-radius: 1px;
  }
}

