.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 5vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.footer::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  background: inherit;
  filter: blur(20px);
}

.footerLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  flex-grow: 1;
  
  font-size: small;
}

.spacer {
  flex: auto;
  width: 150px;
}

.footerContainerDarkMode, .footerContainerLightMode {
  background-color: transparent;
}

.footerContainerLightMode a {
  color: var(--text-primary-lm);
}

.footerContainerDarkMode a {
  color: var(--text-primary-dm);
}

.horizontalLine {
  height: 1px;
  width: 100%; 
  background-color: var(--black);
  margin: 10px 0;
  opacity: 0.4;
}

.horizontalLineLM {
  background-color: var(--black);
}

.horizontalLineDM {
  background-color: var(--white);
}