.header {
  display: flex;
  align-items: center;
  padding-top: 1.125em; /* 18px */
  padding-bottom: 1.125em; /* 18px */
  border-bottom: 1.5px solid var(--header-line-5);
  background: var(--line-10-lm);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.overlay{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
}

.nonOverlay{
  display: flex;
  justify-content: space-evenly;
}

.header > div:first-child {
  flex: 1;
}

.logo{
  z-index: 1001;
}

.burgerMenu{
  height: 100%;
  width: auto;
  background-size: contain;
  padding-right: 10%;
  cursor: pointer;
  background-color: transparent !important;
  border-radius: 50%;
  border: none !important;
}

.linkContainer {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  gap: 4.325rem; /* 70 px abstand */
}

.header > div:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.light ,.linkContainer {
  color: var(--black);
}

.dark ,.linkContainer{
  color: var(--white);
}

@media (max-width: 1350px) {
  .linkContainer {
    gap: 2.325rem
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .header {
    padding-top: 1em;
    padding-bottom: 1.1em;
    align-items: center;
  }

  .overlay{
    display: none;
  }

  .linkContainer {
        gap: 1.325rem
  }
}

@media (max-width: 850px) {
  .header {
    padding-top: 0.875em;
    padding-bottom: 0.875em;
  }

  .overlay{
    display: flex;
    justify-content: right;
  }

  .nonOverlay{
    display: none;
  }

  .linkContainer {
    gap: 2rem;
  }

  .header > div:first-child,
  .header > div:last-child {
    flex: 0 0 auto;
  }
}

@media (max-width: 430px) {
  .header {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    flex-wrap: wrap;
  }

  .linkContainer {
    flex: 1 0 100%;
    order: 3;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 0.5em;
  }

  .header > div:first-child,
  .header > div:last-child {
    flex: 0 0 auto;
  }

  .header > div:last-child {
    justify-content: flex-end;
  }
}